body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070707;
    color: #eee0e0;
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}


/* HEADER */

 header {
    background: linear-gradient(135deg, #0c0c0c, #e0d7d7) ;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 20px;
    border-radius: 0 0 10px, 10px;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0,1);
    
}

header h1{
    margin: 0;
    font-size: 2,5rem;
}

header p {
    margin: 10px 0 0;
    font-size: 1,2rem;
    opacity: 0,9;
}

section{
    background: linear-gradient(135deg,#0e0d0d,#e9e6e6);
    margin: 25px 0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0 ,0 ,0 , 0.05);
}
h2{
    color: #000000;
    border-bottom: 2px 0;
    padding-bottom: 10px;
    margin-top: 0;
}

.quotes{
    background-color: #e75124;
    border-left: 5px solid #a3402f;
    padding: 15px 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}

/* FOOTER STYLES */
footer{
    text-align: center;
    padding: 20px; 
    margin-top: 30px;
    color: #777;
    border-top: 1px solid #ec111175;

}